$shift: -20px;

i.icon {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(/assets/img/sprite.svg);
  background-repeat: no-repeat;

  &.icon-search {
    background-image: url(/assets/img/search.svg);
    background-position: center;
  }

  &.icon-phone {
    background-position: 0 0;
  }
  &.icon-truck {
    background-position: $shift 0;
  }
  &.icon-box {
    background-position: 2*$shift 0;
  }
  &.icon-scan {
    background-position: 3*$shift 0;
  }
  &.icon-person {
    background-position: 4*$shift 0;
  }
  &.icon-sheet {
    background-position: 5*$shift 0;
  }
  &.icon-envelope {
    background-position: 6*$shift 0;
  }
  &.icon-up-down {
    background-position: 7*$shift 0;
  }
  &.icon-bell {
    background-position: 8*$shift 0;
  }
  &.icon-hookup {
    background-position: 9*$shift 0;
  }
  &.icon-frame {
    background-position: 10*$shift 0;
  }
  &.icon-expand-collapse {
    background-position: 11*$shift 0;
  }
  &.icon-diskette {
    background-position: 12*$shift 0;
  }
  &.icon-bin {
    background-position: 13*$shift 0;
  }
  &.icon-multiply {
    background-position: 14*$shift 0;
  }
  &.icon-list {
    background-position: 15*$shift 0;
  }

  &.icon-gt-small {
    width: 14px;
    height: 14px;
    background-image: url(/assets/img/gt-14x14.svg);
    background-position: center;
  }

  &.icon-eye {
    background-position: 19*$shift 0;
  }

  &.icon-eye-disabled {
    background-position: 19*$shift $shift;
  }

  &.icon-pen {
    background-position: 20*$shift 0;
  }

  &.icon-pen-disabled {
    background-position: 20*$shift $shift;
  }

  &.icon-archive {
    background-position: 21*$shift 0;
  }

  &.icon-delete {
    background-position: 22*$shift 0;
  }

  &.icon-cogwheel {
    background-position: 23*$shift 0;
  }

  &.icon-person-2 {
    background-position: 24*$shift 0;
  }

  &.icon-msg {
    background-position: 25*$shift 0;
  }

  &.icon-logout {
    background-position: 26*$shift 0;
  }

  &.icon-flag-us {
    background-position: 27*$shift 2*$shift;
  }

  &.icon-flag-de {
    background-position: 27*$shift 0*$shift;
  }

  &.icon-flag-nl {
    background-position: 27*$shift 1*$shift;
  }

  &.icon-wrench {
    background-position: 28*$shift 0;
  }
  &.icon-desktop {
    background-position: 29*$shift 0;
  }
  &.icon-cycle {
    background-position: 30*$shift 0;
  }
  &.icon-job-list {
    background-position: 31*$shift 0;
  }
  &.icon-control-camera {
    background-position: 32*$shift 0;
  }
  &.icon-currency-euro {
    background-position: 33*$shift 0;
  }

  &.icon-dropdown {
    background-position: 11*$shift $shift;
  }



  &.icon-refresh {
    background-position: 0 2*$shift;
  }

  &.icon-calendar {
    background-position: $shift 2*$shift;
  }

  &.icon-export {
    background-position: 2*$shift 2*$shift;
  }


  &.icon-chat {
    background-image: url(/assets/img/chat.svg);
    background-position: center;
  }

  &.icon-man-in-hat {
    width: 26px;
    height: 26px;
    background-image: url(/assets/img/person.svg);
    background-position: center;
  }

  &.icon-gear {
    width: 26px;
    height: 26px;
    background-image: url(/assets/img/gear.svg);
    background-position: center;
  }

  &.icon-notify {
    width: 26px;
    height: 26px;
    background-image: url(/assets/img/bell.svg);
    background-position: center;
  }

  &.icon-elevator-button {
    width: 8px;
    height: 12px;
    background-image: url(/assets/img/elevator-button.svg);
    background-position: center;
  }

  &.icon-toggle-menu {
    width: 20px;
    height: 20px;
    background-image: url(/assets/img/fat-dash.svg);
    background-position: center;
  }

}


// NOTIFICATION CENTER ICONS
.notifications {
  & img {
    width: 36px;
    height: 36px;
  }
  & .icon {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(/assets/img/no-avatar.svg);
    background-repeat: no-repeat;

    &.icon-no-avatar {
      background-image: url(/assets/img/no-avatar.svg);
      background-position: center;
      background-color: $main-blue;
      border-radius: 50%;
      padding: 18px;

    }

    &.icon-shipment-delivered {
      width: 36px;
      height: 36px;
      background-image: url(/assets/img/delivered.png);
      background-position: center;
      background-size: contain;
      border-radius: 50%;
    }

    &.icon-shipment-non-delivered {
      width: 36px;
      height: 36px;
      background-image: url(/assets/img/non-delivered.png);
      background-position: center;
      background-size: contain;
      border-radius: 50%;
    }
  }
}





.menu-item:hover,
.menu-item--expanded,
.menu-item--selected,
.submenu-toggler:checked + .menu-item__expandable {
  & .icon {
    &.icon-phone {
      background-position: 0 $shift;
    }

    &.icon-truck {
      background-position: $shift $shift;
    }
    &.icon-box {
      background-position: $shift*2 $shift;
    }

    &.icon-scan {
      background-position: 3*$shift $shift;
    }
    &.icon-person {
      background-position: 4*$shift $shift;
    }
    &.icon-sheet {
      background-position: 5*$shift $shift;
    }
    &.icon-envelope {
      background-position: 6*$shift $shift;
    }
    &.icon-up-down {
      background-position: 7*$shift $shift;
    }
    &.icon-bell {
      background-position: 8*$shift $shift;
    }
    &.icon-hookup {
      background-position: 9*$shift $shift;
    }
    &.icon-frame {
      background-position: 10*$shift $shift;
    }
  }
}


.submenu-item:hover,
.submenu-item--selected {
  & .icon {
    &.icon-expand-collapse {
      background-position: 11*$shift $shift;
    }
    &.icon-diskette {
      background-position: 12*$shift $shift;
    }
    &.icon-bin {
      background-position: 13*$shift $shift;
    }
    &.icon-multiply {
      background-position: 14*$shift $shift;
    }
    &.icon-list {
      background-position: 15*$shift $shift;
    }

  }
}

.menu-item--expanded, .menu-item--expanded:hover {
  & i.icon.icon-expand-collapse {
    background-position: 17*$shift $shift;
  }
}

.context-menu__item:hover {
  & .icon-cogwheel {
    background-position: 23*$shift $shift;
  }

  & .icon-person-2 {
    background-position: 24*$shift $shift;
  }

  & .icon-msg {
    background-position: 25*$shift $shift;
  }

  & .icon-logout {
    background-position: 26*$shift $shift;
  }

  & .icon-wrench {
    background-position: 28*$shift $shift;
  }
  & .icon-desktop {
    background-position: 29*$shift $shift;
  }
  & .icon-cycle {
    background-position: 30*$shift $shift;
  }
  & .icon-job-list {
    background-position: 31*$shift $shift;
  }
  & .icon-control-camera {
    background-position: 32*$shift $shift;
  }
  & .icon-currency-euro {
    background-position: 33*$shift $shift;
  }
}




