@import "../colors";
@import "../variables";

.grid__date-picker {


  & input {
    @include input();
    width: 188px;
    padding: 0 0 0 12px;
  }

  & .grid__toolbar__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}