@import "../colors";

$global-search-width: 426px;
$global-search-height: 40px;

.search {
  padding-right: 0;
  padding-left: 0;
  margin-left: 40px;
  height: 40px;
  max-width: $global-search-width;
  font-size: 14px;
  border: none;

  & * {
    height: 100%;
  }

  & i.icon.icon-search {
    position: absolute;
    display: block;
    width: 40px;
    height: 100%;
  }

  & input {
    @include input();
    padding-left: 40px;
  }

  &__button {
    // @include fixed-width-column(80px);
    height: 100%;

    & button {
      width: 100%;
      height: 100%;
      min-width: 80px;
      margin-left: -4px;
      border: none;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      color: $main-white;
      letter-spacing: 0.5px;

      @include button();
    }
  }
}

.global-search {

  &__clear-all {
    color: $main-pale-grey;
  }

  & .context-menu {


    box-shadow: 0px 9px 11px -4px rgba(152, 151, 175, 0.3);
    border-top: 1px solid $main-another-gray;
    top: $global-search-height;
    height: auto;
    width: $global-search-width;

    &:after {
      display: none;
    }

    &__header {
      height: 40px;
      padding: 8px 10px 8px 20px;
      border-bottom: none;
    }

    &__item {
      // padding: 14px 0;
      height: 48px;

      & > div {
        height: auto;
      }

      & .icon-multiply {
        display: none;
        cursor: pointer;
        opacity: 0.3;
      }

      &:hover {
        & .icon-multiply {
          display: block;
        }
      }
    }
  }

  &:hover {
    & input {
      border-bottom-left-radius: 0;
    }

    & .search__button {
      & button {
        border-bottom-right-radius: 0;
      }
    }

    & .context-menu {
      display: initial;
    }
  }
}




