@import "../colors";
@import "../variables";
@import "date-picker";

.grid__toolbar {
  margin: 21px 0;
  padding: 0 20px;

  & .row {
    height: 32px;
  }

  & .search {
    margin-left: 0;
    padding-right: 0;
    height: 100%;
  }
}

.grid__toolbar__button {
  width: 32px;
  height: 32px;
  border-radius: 4px;

  @include button();

  & .icon {
    margin: auto;
  }
}

.grid__toolbar-item:not(:last-child) {
  margin-right: 15px;
}