@import "../colors";
@import "../variables";
@import "submenu";

.menu-header {
  height: $nav-bar-height;
  background-color: $main-yellow;

  & .row {
    height: $nav-bar-height;
  }

  &:after {
    content: "";
    right: -20px;
    position: absolute;
    height: $nav-bar-height;
    width: 20px;
    background-color: $main-yellow;
  }
}

.menu-items {
  overflow-y: scroll;
  z-index: 100;

  > .col {
    height: calc(100vh - #{$nav-bar-height} - #{$help-section-height});
  }
}

.row.menu-item {
  height: $menu-item-height;
  max-height: $menu-item-height;
  padding-left: 28px;
  color: $main-grey;
  cursor: pointer;

  & .col-2 {
    padding: 0;
  }

  & .menu-item-name {
    padding-left: 0;
  }

  &.menu-item--expanded {
    color: $main-black;
    background-color: $main-yellow;
  }

  &.menu-item--selected {
    padding-left: 23px;
    border-left: 5px solid $main-yellow;
    color: $main-black;
  }

  &:hover {
    padding-left: 23px;
    border-left: 5px solid $main-yellow;
    color: $main-black;
  }


  & label.submenu-toggle {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & > .row {
      height: 100%;
    }
  }
}

.menu-item__expandable {
  & .menu-item {
    &  > .col {
      display: flex;
      flex-direction: column;
      height: 100%;

      & .submenu-toggle {
        flex-grow: 1;

        & .row {
          flex-grow: 1;
          align-items: center;

          & .menu-item__icon {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

.menu-item__container {
  position: relative;
}

.submenu {
  display: none;
}

input.submenu-toggler {
  @include hidden-checkbox();
}

// submenu expanded
input.submenu-toggler:checked {
  & + .menu-item__expandable {
    color: $main-black;
    background-color: $main-yellow;

    & .menu-item {
      color: $main-black;
    }

    & label {
      & i.icon.icon-expand-collapse {
        background-position: 17*$shift $shift;
      }
    }

    & .submenu {
      display: block;
    }
  }
}


// expand menu while sidebar is collapsed
#left-sidebar-toggle:checked {
  & + .left-sidebar {
    & .menu-items {
      overflow-y: visible;

      & > .col {
        & > .menu-item {
          height: auto;
          flex-grow: 1;

          &:hover {
            & i.icon.icon-expand-collapse {
              background-position: 16*$shift $shift;
            }
          }

          & i.icon.icon-expand-collapse {
            background-position: 16*$shift 0;
          }
        }

        & > .menu-item__expandable {
          flex-grow: 1;
          align-content: center;
          max-height: $menu-item-height;
          flex-direction: column;

          & > .col {
            display: flex;
            justify-content: center;
            flex-direction: column;
          }

          & .menu-item {
            height: auto;
            flex-grow: 1;

            &:hover {
              flex-grow:  1;
              align-content:  center;

              & i.icon.icon-expand-collapse {
                background-position: 16*$shift $shift;
              }
            }
          }

          & .menu-item__icon {
            margin-left: 8px;
            width: 20px;
            flex-grow: 0;

            & i.icon.icon-expand-collapse {
              background-position: 16*$shift 0;
            }
          }
        }
      }
    }

    & .submenu-toggler:checked {

      & + .menu-item__expandable {
        width: 360px;

        & .menu-item {
          height: 48px;

          & .menu-item-name {
            display: initial;
          }

          & .menu-item__icon {
            margin-right: 12px;
            width: 20px;
            flex-grow: 0;

            & i.icon.icon-expand-collapse {
              background-position: 18*$shift $shift !important;
            }
          }
        }

        & .submenu {
          margin-left: auto;
          width: 280px;

          & .submenu-item {

          }
        }
      }
    }
  }
}